@using RentACarWeb.Areas.Admin.Models.Rental
@inject IHtmlLocalizer<Lang> Localizer
@model List<RentalListVM>

<partial name="/Views/Shared/_Message.cshtml" />

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["page.Customer"]</th>
                <th>@Localizer["page.Car"]</th>
                <th>@Localizer["page.StartDate"]</th>
                <th>@Localizer["page.EndDate"]</th>
                <th>@Localizer["page.Payment"]</th>
                <th>@Localizer["page.Operations"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rental in Model)
            {
                <tr>
                    <td>@rental.Customer.FirstName @rental.Customer.LastName</td>
                    <td>@rental.Car.Make @rental.Car.Model</td>
                    <td>@rental.StartingDate</td>
                    <td>@rental.EndingDate</td>
                    <td>@rental.Payment</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Rental" asp-action="Edit" class="btn btn-info w-50" asp-route-id="@rental.Id">@Localizer["page.Edit"]</a>
                        <a class="btn btn-danger w-50 delete" data-id="@rental.Id">@Localizer["page.Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <a asp-area="Admin" asp-controller="Rental" asp-action="Create" class="btn btn-primary">@Localizer["page.Create"] @Localizer["page.Rental"]</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".delete").click(function () {
                let deleteMessage = "@Localizer["page.DeleteMessage"]"
                if (confirm(deleteMessage)) {
                    let id = $(this).data("id");
                    $.ajax({
                        url: "@Url.Action("Delete", "Rental", new { area = "Admin" })",
                        type: "POST",
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                window.location.reload()
                            }
                            else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("An error occured");
                        }
                    })
                }
            })
        })
    </script>
}