@using RentACarWeb.Areas.Admin.Models.Car
@inject IHtmlLocalizer<Lang> Localizer
@model CarEditVM

<form method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="mb-3">
        <label asp-for="@Model.Make">@Localizer["page.Make"]</label>
        <input asp-for="@Model.Make" class="form-control" />
        <span asp-validation-for="@Model.Make" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Model">@Localizer["page.Model"]</label>
        <input asp-for="@Model.Model" class="form-control" />
        <span asp-validation-for="@Model.Model" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Type">@Localizer["page.Type"]</label>
        <input asp-for="@Model.Type" class="form-control" />
        <span asp-validation-for="@Model.Type" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Year">@Localizer["page.Year"]</label>
        <input asp-for="@Model.Year" class="form-control" min="1960" placeholder="2000" />
        <span asp-validation-for="@Model.Year" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Price">@Localizer["page.Price"]</label>
        <input asp-for="@Model.Price" class="form-control" min="10000" step="1000" />
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.isActive">@Localizer["page.Available"]</label>
        <input type="checkbox" class="form-check" asp-for="@Model.isActive" />
        <span asp-validation-for="@Model.isActive" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["page.Edit"]</button>
</form>