@using RentACarWeb.Areas.Admin.Models.Car
@model List<CarListVM>

<partial name="/Views/Shared/_Message.cshtml" />

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@ViewBag.Make</th>
                <th>@ViewBag.Model</th>
                <th>@ViewBag.Type</th>
                <th>@ViewBag.Year</th>
                <th>@ViewBag.Price</th>
                <th>@ViewBag.Available</th>
                <th>@ViewBag.Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in Model)
            {
                <tr>
                    <td>@car.Make</td>
                    <td>@car.Model</td>
                    <td>@car.Type</td>
                    <td>@car.Year</td>
                    <td>@car.Price</td>
                    <td>@car.IsActive</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Car" asp-action="Edit" class="btn btn-info w-25" asp-route-id="@car.Id">@ViewBag.Edit</a>
                        <a class="btn btn-danger w-25 delete" data-id="@car.Id">@ViewBag.Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="container">
    <a asp-area="Admin" asp-controller="Car" asp-action="Create" class="btn btn-primary">@ViewBag.Create @ViewBag.Car</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".delete").click(function () {
                let deleteMessage = "@ViewBag.DeleteMessage"
                if (confirm(deleteMessage)) {
                    let id = $(this).data("id");
                    $.ajax({
                        url: "@Url.Action("Delete", "Car", new { area = "Admin" })",
                        type: "POST",
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                window.location.reload();
                            }
                            else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("An error occured");
                        }
                    })
                }
            })
        })
    </script>
}